.user-card {
  width: 721px;
  height: 941px;
  border-radius: 15.67px;
  background: #ffffff;
  box-shadow: 0px 16px 31px 0px #00000003;
  padding: 30px 30px;
}

.user-card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 20px 20px;
  h2 {
    font-family: Poppins;
    font-size: 28px;
    font-weight: 500;
    line-height: 42px;
    text-align: left;
  }
  p {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
  }
}
