.card {
  width: 721px;
  height: 944px;
  border-radius: 34px;
  box-shadow: 0px 16px 31px 0px #00000003;
  background: #ffffff;
  padding: 32px 45px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  h2 {
    font-family: Poppins;
    font-size: 28px;
    font-weight: 500;
    line-height: 42px;
    text-align: left;
    color: #000;
  }
  p {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #555555;
  }
}
