.rectangle {
  width: 647px;
  height: 91px;
  border-radius: 20px;
  border: 1.43px solid #f1f1f1;
  display: flex;
  padding: 11px 32px;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  .rectangle__icon {
    width: 65.72px;
    height: 65.72px;
    border-radius: 67.6px;
    border-radius: 38px;
    background: #8ab9ff1a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #8ab9ff;
  }
  p {
    font-family: Poppins;
    font-size: 22.85px;
    font-weight: 600;
    line-height: 34.28px;
    text-align: right;
    color: #000000;
  }
}
