.navbar {
  width: 100%;
  background-color: #ffffff;
  color: white;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-left: 130px;
  z-index: 1000;
}

.navbar__left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar__left i {
  color: #000000;
  font-size: 20px;
}

.navbar__left span {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  text-align: left;
  color: #000000;
}

.navbar__right {
  display: flex;
  gap: 12px;
  align-items: center;
  span {
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
  }
  a {
    text-decoration: none;
  }
}

.navbar__right--avatar {
  cursor: pointer;
  width: 57px;
  height: 57px;
}
